@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSans';
  src: url("../public/fonts/GmarketSansLight.otf") format("otf"),
      url("../public/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: noraml;
}
@font-face {
  font-family: 'GmarketSans';
  src: url("../public/fonts/GmarketSansMedium.otf") format("otf"),
      url("../public/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 400;
  font-style: noraml;
}
@font-face {
  font-family: 'GmarketSans';
  src: url("../public/fonts/GmarketSansBold.otf") format("otf"),
      url("../public/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: noraml;
}

@layer base {
  html, body {
    position: realtive;
    width: 100%;
    height: 100%;
    font-family: GmarketSans;
    font-weight: 400;
  }
}